.section {
    width: 100%;
    position: relative;
}

#sec1 {
    height: 100vh;

    background-image: url('../pictures/Background-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#sec1 .logo {
    font-size: 32px;
    font-weight: normal;
    color: #fff;

    position: absolute;
    top: 55px;
    left: 80px;
}
#sec1 .logo > p {
    font-weight: bold;
    color: #f5b402;

    display: inline;
}

#sec1 .list_menu {
    border-radius: 30px;
    background-color: black;

    position: absolute;
    top: 55px;
    right: 55px;

    padding: 20px;
}
#sec1 .list_menu .link {
    font-size: 29px;
    font-weight: bold;
    color: #fff;
    line-height: 60px;

    display: inline-block;

    margin: 0 30px;
}
#sec1 .list_menu .link:nth-child(3) {
    font-size: 26px;
}
#sec1 .list_menu .link:hover {
    text-decoration: underline #f5b402;
}

#sec1 .hm_menu {
    position: absolute;
    top: 55px;
    right: 10%;
}

#sec1 .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    margin-left: 100px;

    transition:
        left .3s;
}
#sec1 .text p:nth-child(1) {
    font-size: 11vw;
    font-weight: normal;
    color: #fff;
}
#sec1 .text p:nth-child(2) {
    font-size: 11.2vw;
    font-weight: bold;
    color: #f5b402;
}
#sec1 .text p:nth-child(3) {
    font-size: 2.9vw;
    font-weight: normal;
    color: #fff;

    margin-left: 2vw;
}

#sec1 img {
    width: 30%;

    position: absolute;
    top: 26%;
    left: 55%;

    transition:
        top .3s;
}

#sec2 {
    height: 100vh;

    background-image: url('../pictures/LongBackground-01.jpg');
    background-repeat: repeat;
}

#sec2 #sec2_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#sec2 #sec2_text p {
    color: #f5b402;
    text-align: center;

    margin-bottom: 50px;
}
#sec2 #sec2_text p:nth-child(1) {
    font-weight: normal;
}
#sec2 #sec2_text p:nth-child(2) {
    font-weight: bold;
    letter-spacing: 2.5vw;
}

#sec3 {
    background-image: url('../pictures/LongBackground-01.jpg');
    background-repeat: repeat;

    padding: 50px 0;
}

#sec3 .problem {
    width: 80%;
    margin: 0 auto;
}

#sec3 .problem p {
    font-size: 1.5vw;
    font-weight: normal;
    line-height: 3vw;
    color: #fff;
}

#sec3 .problem .infographic {
    position: relative;
    margin: 50px 0;
}

#sec3 .problem .infographic img {
    width: 100%;
}

#sec3 .problem_number {
    width: 20vw;

    font-size: 4vw;
    font-weight: normal;
    color: #fff;
    text-align: center;

    position: absolute;
}
#sec3 #kgOfSpaceDebris {
    top: 16.5vw;
    left: 8.5vw;
}
#sec3 #deathSatelite {
    top: 34.5vw;
    left: 37vw;
}
#sec3 #satelitePieces {
    top: 51vw;
    left: 11vw;
}

#sec3 .text_box {
    width: 65%;
    font-size: 1.8vw;
    font-weight: normal;
    line-height: 4vw;
    color: #fff;

    border: 3px solid #f5b402;

    margin: 50px auto 0 auto;
    padding: 5vw;
}

#sec4 {
    background-image: url('../pictures/LongBackground-01.jpg');
    background-repeat: repeat;
}

#sec4 img {
    width: 100%;
}

#sec5 {
    height: 100vh;

    background-image: url('../pictures/LongBackground-01.jpg');
    background-repeat: repeat;
}

#sec5 img {
    width: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1360px) {
    #sec1 .logo {
        left: 6%;
    }

    #sec1 .hm_menu {
        width: 60px;
        height: 38px;
    }

    #sec1 .text {
        width: 100%;
        text-align: center;

        margin-left: 0;
    }
    #sec1 .text p:nth-child(1) {
        font-size: 15vw;
    }
    #sec1 .text p:nth-child(2) {
        font-size: 15.2vw;
    }
    #sec1 .text p:nth-child(3) {
        font-size: 3.8vw;
    }

    #sec1 img {
        display: none;
    }

    #sec3 .text_box {
        width: 80%;
    }
}

@media only screen and (max-width: 550px) {
    #sec1 .logo {
        font-size: 5vw;
    }

    #sec1 .hm_menu {
        width: 40px;
        height: 28px;
    }
}
