#card {
    height: calc(100vh - 75px);
}

#card .slider img {
    width: 180px;
    height: 180px;
    border-radius: 50%;

    margin: 0 auto;
}

#card .item {
    outline: none;
    padding-top: calc(50vh - 250px);
}

#card .item-inner {
    padding: 25px 0;
}

#card .item-inner .name {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;

    margin-top: 30px;
}
#card .item-inner .skill {
    font-size: 15px;
    font-weight: normal;
    text-align: center;

    margin-top: 100px;
}

#card .slick-slide {
    opacity: .3;
    transform: scale(.8);

    transition:
        opacity ease .5s,
        transform ease .5s;
}
#card .slick-slide.slick-current {
    opacity: 1;
    transform: scale(1);
}

#card .slick-arrow {
    width: 130px;
    height: 50px;
    border: none;
    outline: none;

    font-size: 12px;

    position: fixed;
    bottom: 30px;
    z-index: 100;

    cursor: pointer;
}
#card .slick-prev {
    left: 20%;
}
#card .slick-next {
    background-color: #f5b402;
    right: 20%;
}

#card .color {
    width: 100%;
    height: 20vh;

    background-image: url('../pictures/LongBackground-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    position: fixed;
    left: 0;
}
#card .color-bottom {
    bottom: 0;
}

@media only screen and (max-width: 550px) {
    #card .item-inner {
        padding: 15px 0;
    }

    #card .slick-arrow {
        width: 100px;
        height: 45px;
    }
    #card .slick-prev {
        left: 10%;
    }
    #card .slick-next {
        right: 10%;
    }
}

@media only screen and (max-height: 900px) {
    #card .item {
        padding-top: calc(45vh - 273px);
    }

    #card .color-top {
        display: none;
    }
}

@media only screen and (max-height: 750px) {
    #card .item {
        padding-top: calc(45vh - 255px);
    }

    #card .item-inner .skill {
        margin-top: 60px;
    }
}
